<div class="row">
  <form class="navbar-form searchbox" role="search">
    <div class="input-group col-sm-10 col-sm-offset-2">
        <input ng-model="syntax" type="text" class="form-control"
               placeholder="Search" name="srch-term" id="srch-term">
        <div class="input-group-btn">
            <button class="btn btn-primary" type="submit" ng-click="updateSyntax()">
              <i class="glyphicon glyphicon-search"></i>
            </button>
        </div>
    </div>
  </form>
</div>

<div ng-show="errorMessage" class="alert alert-danger ng-cloak" role="alert"> {{errorMessage}}
</div>

<div ng-show="results.hits.length < 1"
     ng-include src="'/static/partials/search/noresults.html'"></div>
<div ng-show="results.hits.length > 0"
     ng-include src="'/static/partials/search/results.html'"/></div>

<div class="footer text-center">
  Learn how to build search apps like this with
  <a href="http://blevesearch.com/">bleve</a>
  from the
  <a href="https://fosdem.org/2015/schedule/event/bleve/">
    bleve FOSDEM talk
  </a>
</div>
